fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv
alembic
bcrypt
config
pydantic-settings
email-validator
pydantic[email]
pytest  
httpx  
PyJWT==2.10.1

langchain_openai
langchain_core
langchain_community
langchain-community
langchain>=0.2.0
langchain-openai>=0.1.0
python-multipart
pdfplumber
